/* paragraph */

.post-content p {
    margin-bottom: 0;
}

.post-content .paragraph {
    margin-top: var(--content-gap);
}

/* section block */

.sect1+.sect1 {
    border-top: 2px solid var(--tertiary);
    margin-top: 30px;
}

/* image */

.post-content img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
    border: 1px solid #e5e5e5;
    background-color: white;
    /* for svg */
}

.post-content img.zoomed {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    cursor: zoom-out;
}

.post-content .imageblock img {
    /* box-shadow: 3px 3px 10px 5px #8b8f90; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 6%);
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.post-content .imageblock .title {
    margin-top: 3px;
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* stem block */

.stemblock>.content>br {
    display: none;
}

/* example block */

.sidebarblock>.content>.title,
.exampleblock>.title {
    margin-top: 0;
    margin-bottom: 0.25em;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.sidebarblock,
.exampleblock {
    margin-top: var(--content-gap);
}

.sidebarblock>.content,
.exampleblock>.content {
    padding: var(--padding-gap);
    border: 1px solid var(--primary);
    border-radius: var(--radius);
}

.sidebarblock>.content>*:first-child,
.exampleblock>.content>*:first-child {
    margin-top: 0;
}

.sidebarblock>.content> :last-child,
.sidebarblock>.content> :last-child> :last-child,
.sidebarblock>.content .olist>ol>li:last-child> :last-child,
.sidebarblock>.content .ulist>ul>li:last-child> :last-child,
.sidebarblock>.content .qlist>ol>li:last-child> :last-child,
.exampleblock>.content> :last-child,
.exampleblock>.content> :last-child> :last-child,
.exampleblock>.content .olist>ol>li:last-child> :last-child,
.exampleblock>.content .ulist>ul>li:last-child> :last-child,
.exampleblock>.content .qlist>ol>li:last-child> :last-child {
    margin-bottom: 0;
}


/* callouts */

.conum[data-value]::after {
    content: attr(data-value);
}

.conum[data-value]+b {
    display: none;
}

.conum[data-value] {
    border: 1px solid var(--content);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 0.75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.5em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: var(--content);
}

pre .conum[data-value] {
    background-color: black;
    color: white;
    border-color: black;
}

.literalblock+.colist,
.listingblock+.colist {
    margin-top: -0.5em;
}

.colist table td:not([class]):first-child {
    min-width: auto;
    border-bottom: 0;
    padding: 0.4em 0.75em 0;
    line-height: 1;
    vertical-align: top;
}

.colist table td:not([class]):first-child img {
    max-width: none;
    border-bottom: 0;
}

.colist table td:not([class]):last-child {
    padding: 0.25em 0;
    border-bottom: 0;
}

.post-content .colist>table {
    border: 0;
    background: none;
    margin-top: 0;
}

.hdlist>table>tbody>tr,
.colist>table>tbody>tr {
    background: none;
}

/* code */

code.hljs {
    overflow: auto;
    /* margin-top + line-margin + line-height*lines */
    max-height: calc(10px + 0.5em + 1.5 * 20em);
    height: auto;
}

.post-content code {
    margin: auto;
    border: .1em solid rgba(0, 0, 0, .1);
    border-radius: var(--radius);
    font-size: 0.9em;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/* code block with title */

.listingblock>.title {
    border-radius: var(--radius) var(--radius) 0 0;
    border-style: solid;
    border-color: var(--secondary);
    border-width: 1px 1px 0 1px;
    background-color: #3d3d3d;
    padding: 0 10px;
    color: #bc8420;
    font-size: larger;
    font-weight: bold;
}

.listingblock>.title~.content .highlight:not(table) {
    margin-top: 0;
}

.listingblock>.title~.content code.hljs {
    border-radius: 0 0 var(--radius) var(--radius);
    border: 1px solid var(--secondary);
    padding: var(--padding-gap);
}

/* scrollbar */

::-webkit-scrollbar-corner {
    display: none;
}


.post-content ::-webkit-scrollbar {
    width: 1em;
}

/* admonition */

.post-content table {
    margin-bottom: 0;
    margin-top: var(--content-gap);
}

.admonitionblock>table>tbody {
    display: block;
}

.admonitionblock>table>tbody>tr {
    display: block;
    position: relative;
}

.post-content .admonitionblock>table:not(.highlighttable, .highlight table, .gist .highlight)>tbody>tr>td {
    display: block;
    padding: var(--padding-gap);
    border-bottom-width: 0;
}

.admonitionblock>table>tbody>tr>td>.title {
    position: absolute;
    top: 11px;
    left: 47px;
    font-weight: bold;
}

.admonitionblock>table>tbody>tr>td.content>.paragraph:first-child {
    margin-top: 0;
}

.admonitionblock .title+.paragraph {
    margin-top: 0;
}

.admonitionblock {
    border: 0 solid;
    border-left-width: 6px;
    border-radius: var(--radius);
}

.admonitionblock td.icon {
    border-top-right-radius: var(--radius);
    line-height: 1 !important;
}

.admonitionblock.note {
    border-left-color: #448aff;
    background-color: rgba(68, 138, 255, 0.1);
}

.admonitionblock.note td.icon {
    background-color: rgba(68, 138, 255, 0.1);
}

.admonitionblock.tip {
    border-left-color: #00bfa5;
    background-color: rgba(0, 191, 165, 0.1);
}

.admonitionblock.tip td.icon {
    background-color: rgba(0, 191, 165, 0.1);
}

.admonitionblock.important {
    border-left-color: #651fff;
    background-color: rgba(101, 31, 255, 0.1);
}

.admonitionblock.important td.icon {
    background-color: rgba(101, 31, 255, 0.1);
}

.admonitionblock.caution {
    border-left-color: #ff5252;
    background-color: rgba(255, 82, 82, 0.1);
}

.admonitionblock.caution td.icon {
    background-color: rgba(255, 82, 82, 0.1);
}

.admonitionblock.warning {
    border-left-color: #ff9100;
    background-color: rgba(255, 145, 0, 0.1);
}

.admonitionblock.warning td.icon {
    background-color: rgba(255, 145, 0, 0.1);
}

/* quote block */

.quoteblock {
    border: 0 solid;
    border-left-width: 6px;
    border-radius: var(--radius);
    background-color: rgba(159, 159, 159, 0.1);
    border-left-color: #9e9e9e;
    position: relative;
    margin-top: var(--content-gap);
}

.quoteblock::before {
    font-family: 'Font Awesome 6 Free';
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1;
    cursor: default;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f10e";
    background-color: rgba(159, 159, 159, 0.1);
    padding: var(--padding-gap);
    display: block;
    border-top-right-radius: var(--radius);
}

.quoteblock>.title {
    position: absolute;
    top: 11px;
    left: 47px;
    font-weight: bold;
    line-height: 1.5;
}

.post-content blockquote {
    margin: var(--padding-gap) 0;
    padding: 0 var(--padding-gap);
    border-inline-start: 0;
}

.post-content blockquote>.paragraph:first-child {
    margin-top: 0;
}

.quoteblock .attribution {
    margin: var(--padding-gap) 0;
    padding: 0 var(--padding-gap);
    padding-bottom: var(--padding-gap);
    color: #8e8e8e;
}

/* list block */

.post-content ol,
.post-content ul {
    padding-inline-start: 2em;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
    margin-bottom: 0;
}

.post-content ol,
.post-content ul {
    margin: 0;
}

.post-content .ulist,
.post-content .olist,
.post-content .dlist,
.post-content .hdlist,
.post-content .qlist {
    margin-top: var(--content-gap);
}

.post-content li>.ulist,
.post-content li>.olist,
.post-content li>.dlist,
.post-content li>.hdlist,
.post-content li>.qlist {
    margin-top: 0;
}

.post-content li>*:not(p) {
    margin-top: 5px !important;
}

.post-content .ulist>.title,
.post-content .olist>.title,
.post-content .dlist>.title,
.post-content .hdlist>.title,
.post-content .qlist>.title {
    border-bottom: 1px solid var(--tertiary);
    padding-bottom: 5px;
}

/* table */

table.tableblock>caption {
    caption-side: bottom;
}

table.tableblock {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

table.tableblock,
th.tableblock,
td.tableblock {
    border: 0 solid var(--border);
}

.post-content table.tableblock td {
    border-bottom: unset !important;
}

.post-content .halign-left {
    text-align: left;
}

.post-content .halign-right {
    text-align: right;
}

.post-content .halign-center {
    text-align: center;
}

.post-content .valign-top {
    vertical-align: top;
}

.post-content .valign-bottom {
    vertical-align: bottom;
}

.post-content .valign-middle {
    vertical-align: middle;
}

.post-content table.grid-all>*>tr>* {
    border-width: 1px;
}

.post-content table.grid-cols>*>tr>* {
    border-width: 0 1px;
}

.post-content table.grid-rows>*>tr>* {
    border-width: 1px 0;
}

.post-content table.grid-all>thead th,
.post-content table.grid-rows>thead th {
    border-bottom-width: 2.5px;
}

.post-content table.frame-all {
    border-width: 1px;
}

.post-content table.frame-ends {
    border-width: 1px 0;
}

.post-content table.frame-sides {
    border-width: 0 1px;
}

.post-content table.frame-none>colgroup+*> :first-child>*,
.post-content table.frame-sides>colgroup+*> :first-child>* {
    border-top-width: 0;
}

/* NOTE let the grid win in case of frame-none */
.post-content table.frame-sides> :last-child> :last-child>* {
    border-bottom-width: 0;
}

.post-content table.frame-none>*>tr> :first-child,
.post-content table.frame-ends>*>tr> :first-child {
    border-left-width: 0;
}

.post-content table.frame-none>*>tr> :last-child,
.post-content table.frame-ends>*>tr> :last-child {
    border-right-width: 0;
}

.post-content table tr p {
    word-break: normal;
}

/* collapsible block */

.post-content details {
    margin-top: var(--content-gap);
    border: 1px solid var(--primary);
    border-radius: var(--radius);
}

.post-content details>summary {
    padding: var(--padding-gap);
}

.post-content details>.content {
    padding: var(--padding-gap);
    margin-left: 1em;
}

.post-content details>summary.title {
    font-size: larger;
    font-weight: bold;
}

.post-content details[open]>summary {
    border-bottom: 1px solid var(--primary);
}

.post-content details>.content>*:first-child {
    margin-top: 0;
}